<h1>Enter name of the item  to find item</h1>
<form action ="/item/search/results" method="post">
  <label for="search-item">Name of item to search</label>
  <input name="search-item" type="text">
  <button type="submit">Search</button>
</form>
